.button {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #333940;
    border: none;
    border-radius: 50px;
    margin: 10px;
    padding: 10px 35px;
}

.button_red {
    background-color: #ff6c52;
}

.button_red:hover {
    background-color: #f92814;
}

.button_yellow {
    background-color: #ffce00;
}

.button_yellow:hover {
    background-color: #fdba12;
}